# Data Science Tools and Libraries

This notebook introduces some of the most commonly used tools, libraries, and languages in data science.

## Data Science Languages
- Python
- R
- SQL
- Julia
- Scala

## Data Science Libraries
- NumPy
- Pandas
- Matplotlib
- Scikit-learn
- TensorFlow
- PyTorch

## Data Science Tools
| Tool          | Description                      |
|---------------|----------------------------------|
| Jupyter       | Interactive computing notebook  |
| RStudio       | IDE for R programming           |
| Apache Spark  | Big data processing framework   |
| Tableau       | Data visualization tool         |


## Arithmetic Expressions
Arithmetic expressions are often used in data science to perform basic calculations such as addition, subtraction, multiplication, and division.

In [1]:
# Example: Addition and Multiplication
sum_result = 7 + 5
product_result = 7 * 5
print("Sum:", sum_result)
print("Product:", product_result)

Sum: 12
Product: 35

In [2]:
# Example: Convert Minutes to Hours
minutes = 150
hours = minutes / 60
print(f"{minutes} minutes is equal to {hours} hours.")

150 minutes is equal to 2.5 hours.

## Objectives
- Learn about data science tools and libraries.
- Understand common programming languages in data science.
- Perform basic arithmetic operations.

## Author
- Name: [Taha Turkmen]
- Contact: [taha.turkmen@bahcesehir.edu.tr]